.col {
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.row {
  display: flex;
  column-gap: 0.5rem;
}
.snapping {
  display: flex;
  width: 350px;
  height: 250px;
  border: rgb(0, 200, 255) solid 1px;
  scroll-snap-type: x mandatory;
  overflow: auto;
}
.small-img {
  width: 350px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}
.product {
  padding: 1rem;
  background-color: white;
  width: 25rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px gray;
}
