<h2>products</h2>
<div *ngIf="newProduct.images" class="snapping">
  <img
    *ngFor="let image of newProduct.images"
    class="small-img"
    [src]="image.url"
    alt="imagen de producto"
  />
</div>
<div class="row">
  <div class="col">
    <input
      type="text"
      placeholder="Name"
      [(ngModel)]="newProduct.name"
      name="name"
    />
    <textarea
      [(ngModel)]="newProduct.description"
      cols="30"
      rows="10"
      placeholder="Description"
      name="description"
    ></textarea>
    <button (click)="createProduct()">Crear</button>
  </div>
  <div class="col">
    <input
      type="number"
      placeholder="Price"
      [(ngModel)]="newProduct.price"
      name="price"
    />
    <input
      type="number"
      placeholder="Quantity"
      [(ngModel)]="newProduct.quantity"
      name="quantity"
    />
    <input
      type="text"
      placeholder="User Id"
      [(ngModel)]="newProduct.userId"
      name="userId"
    />
    <div class="row">
      <input
        type="text"
        placeholder="Image url"
        name="image"
        [(ngModel)]="image"
      />
      <button (click)="addImage()">Add Image</button>
    </div>
  </div>
</div>
<div class="grid">
  <div *ngFor="let product of products" class="product">
    <div *ngIf="product.images" class="snapping">
      <img
        *ngFor="let image of product.images"
        class="small-img"
        [src]="image.url"
        alt="imagen de producto"
      />
    </div>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Seller: {{ product.user?.name }}</p>
  </div>
</div>
